<html>
    <head>
        <title>My scratchboard page</title>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
-->
    </head>

    <body   style = "position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);">
<script type="text/javascript">
<!--
    function toggle_visibility(id1,id2) {
       var e = document.getElementById(id1);
       var b = document.getElementById(id2);
       e.style.display = 'block';
       b.style.display = 'none';

    }
//-->
</script>
<!--        <a href="#" onclick="toggle_visibility('foo','bar');">Click here to toggle visibility of elements #foo and #bar</a>
-->
<p>
  <span id="foo" style="display:none">{{back}}</span>
  <span id="bar">{{front}}</span>
</p>


<button onclick="toggle_visibility('foo','bar')">reveal answer</button>
<button onclick="myFunction()">new question</button>



<script>
function myFunction() {
    location.reload();
}
</script>

    </body>
</html>